/* Reset from CSS Friends solutions */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Indie Flower', cursive;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

#sandbox, #story {
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
}

#sandbox:hover, #story:hover {
  background: rgba(0,0,0,0.1);
}

.settings-container {
  display: flex;
  height: 190px;
}

.settings-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.settings, .color-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
  padding: 20px 0;
}

input[type="text"] {
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}

input[type="color"] {
  padding: 1px;
  margin: 1px 0 2px 0;
  border: 1px solid transparent;
}


.canvas-container {
  display: flex;
  justify-content: space-around;
}

.canvas-container .instructions {
  width: 300px;
}
.display {
  display: flex;
  justify-content: space-between;
}

.canvas-container h2 {
  font-size: 24px;
  padding: 20px 0;
}

#level, #timer, #lives {
  font-size: 40px;
}

#timer {
  padding-right: 10px;
}

.hidden {
  display: none;
}
